body{
  padding:20px;
  font-family:sans-serif;
}
h1{
  text-align:center;
}
h2{
   text-align:center;
}
#links{
  margin:40px auto;
  max-width:700px;
}
#links > a{
  display:block;
  text-align:center;
  border:1px solid #333;
  padding:10px;
  text-decoration:none;
  color:#000000;
}

#links > a:hover{
  background:#800040;
  color:#ffffff;
}
h1{
  color:#800040 
}
h2{
  color:#800040 
}